<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="雄安运营UI自动化测试">
    <parameter name="${testBrowser}" value="${testBrowser}"/>
    <test verbose="2" preserve-order="true" name="登录成功Case">
        <classes>
            <class name="test.LoginCase">
                <methods>
                    <include name="loginSuccess"/>
                    <!--<include name="loginFail"/>-->
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="登录失败Case">
        <classes>
            <class name="test.LoginCase">
                <methods>
                    <!--<include name="loginSuccess"/>-->
                    <include name="loginFail"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="雄安资讯检索Case">
        <classes>
            <class name="test.contenmanager.xaconsult.XAConsultCase">
                <methods>
                    <!--<include name="loginSuccess"/>-->
                    <include name="query"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="utils.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>